html *
{
    font-family: Serif, Sans-serif;
}

body [lang=en], 
body [lang=hu] {
    display: none;
}

.hungarianLang [lang=hu] {
    display: inline;
}

.englishLang [lang=en] {
    display: inline;
}

code {
  background-color: #eee;
  border: 1px solid #999;
  font-family: monospace;
  white-space: pre;
}

samp {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 10px;
  font-family: monospace;
  white-space: pre;
}

table { border-collapse: collapse; }
